<div class="sidebar" [@openCloseMenu]="openMenu">
  <ul class="sidebar-menu">
    <li>
      <a href="#">
        <i class="menuitem-icon pi pi-fw pi-home"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="menuitem-icon pi pi-fw pi-credit-card"></i>
        <span>Vendas</span>
        <i class="menuitem-dropdown pi pi-fe pi-angle-down"></i>
      </a>
      <ul class="dropdown">
        <li>
          <a href="#">
            <span>Nova venda</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Pesquisa de vendas</span>
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#">
        <i class="menuitem-icon pi pi-fw pi-ellipsis-h"></i>
        <span>Estoque</span>
        <i class="menuitem-dropdown pi pi-fe pi-angle-down"></i>
      </a>
      <ul class="dropdown">
        <li>
          <a href="#">
            <span>Estilos</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Cerveja</span>
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#">
        <i class="menuitem-icon pi pi-fw pi-dollar"></i>
        <span>Cadastros</span>
        <i class="menuitem-dropdown pi pi-fe pi-angle-down"></i>
      </a>
      <ul class="dropdown">
        <li>
          <a href="#">
            <span>Cidades</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Clientes</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Usuários</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
