<div class="p-field p-col-12">
  <h1 class="center">Pesquisa de cervejas</h1>
</div>

<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-3">
    <label>SKU</label>
    <input pInputText type="text">
  </div>

  <div class="p-field p-col-12 p-md-9">
    <label>Nome</label>
    <input pInputText type="text">
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label>Estilo</label>
    <p-dropdown [options]="styles" optionLabel="name" placeholder="Selecione um estilo"></p-dropdown>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label>Sabor</label>
    <p-dropdown [options]="flavors" optionLabel="name" placeholder="Selecione um sabor"></p-dropdown>
  </div>

  <div class="p-field p-col-6 p-md-3">
    <label>Preço unitário</label>
    <input pInputText type="text">
  </div>
  <div class="p-field p-col-6 p-md-3">
    <label>até</label>
    <input pInputText type="text">
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label>Nacionalidade</label>
    <div class="p-formgroup-inline vertical-align">
      <div class="p-field-checkbox">
        <p-radioButton></p-radioButton>
        <label>Nacional</label>
      </div>
      <div class="p-field-checkbox">
        <p-radioButton></p-radioButton>
        <label>Internacional</label>
      </div>
      <div class="p-field-checkbox">
        <p-radioButton></p-radioButton>
        <label>Todas</label>
      </div>
    </div>
  </div>
</div>

<div class="p-d-flex p-jc-between">
  <button pButton label="Pesquisar"></button>
  <button pButton label="Adicionar"></button>
</div>

<app-beer-table></app-beer-table>
