a {
  color: #FFFFFF;
}

.topbar {
  background-color: #2C3E50;
  background-image: -webkit-gradient(linear, left top, right top, from(#2C3E50), to(#4CA1AF));
  border-bottom: 1px solid transparent;
  color: #FFFFFF;
  padding: 12px 15px;
  width: 100%;
  z-index: 999;
}

.topbar .topbar-logo {
  margin-right: 40px;
}

.topbar .topbar-logo img {
  width: 100px;
}

.topbar .topbar-menu .pi-bars {
  font-size: 20px;
}

.topbar .username {
  font-size: 14px;
  font-weight: bold;
}

.topbar .logout {
  margin-left: 20px;
}

.topbar .logout .pi-sign-out {
  font-size: 20px;
}
