<div class="topbar">
  <div class="p-d-flex p-jc-between p-flex-wrap-reverse">
    <div class="p-d-flex p-ai-center">
      <a class="topbar-logo" href="#">
        <img src="assets/images/brewery-logo.png" alt="Brewery">
      </a>
      <a class="topbar-menu" href="#" (click)="openMenu = !openMenu">
        <i class="pi pi-bars"></i>
      </a>
    </div>

    <div class="p-d-flex p-ai-center">
      <span class="username" *ngIf="screenWidth >= 375">Leonardo C.</span>
      <a class="logout" href="#">
        <i class="pi pi-sign-out"></i>
      </a>
    </div>
  </div>
</div>

<app-sidebar [hidden]="!openMenu"></app-sidebar>

